 <div class="flex items-center justify-center mt-5 mb-5 p-3 ">
  <%=link_to user_posts_path(@user) do%>
    <button class="bg-blue-500 p-3 rounded-lg text-white mx-auto my-auto">See all posts</button>
  <%end%>
</div>